<article class="card">
  <button type="button" class="favorite" (click)="favorite.emit(character())">
    {{ isFavorite() ? '★' : '☆' }}
  </button>

  <button type="button" class="content" (click)="open.emit(character().id)">
    <img
      [src]="character().image"
      [alt]="character().name"
      appFallbackImage="assets/avatars/placeholder.svg"
      loading="lazy"
    />

    <div class="meta">
      <h3>{{ character().name }}</h3>
      <p>{{ character().species }} · {{ character().gender }}</p>
      <span>{{ character().status | characterStatus }}</span>
    </div>
  </button>
</article>
